{% extends 'base.html' %}

{% load static blog_tags highlight %}

{% block navigator %}
    <ul>
        <li><a href="{% url 'blog:index' %}">首页</a></li>
        <li><a href="{% url 'blog:archive_list' %}">归档</a></li>
        <li><a href="{% url 'blog:tag_list' %}">标签</a></li>
        <li><a href="#">分类</a></li>
        <li><a href="{% url 'blog:about' %}">关于</a></li>
    </ul>
{% endblock navigator %}

{% block main %}
    <!-- Search -->
    <div class="article">
        {% if query %}
            {% for result in page.object_list %}
                <article>
                    <h2 class="title" title="{{result.object.title}}"><a href="{{result.object.get_absolute_url}}">{{result.object.title}}</a></h2>
                    <div>{% highlight result.object.body with query %}</div>
                    <a href="{{result.object.get_absolute_url}}" class="continue">继续阅读>></a>
                    <p class="article-info">
                        {{result.object.create_time}} · {{result.object.category}} · {{result.object.tag}}
                        <span id = "sourceId::{{result.object.pk}}" class = "cy_cmt_count">0</span>
                        评论
                    </p>
                </article>
            {% empty %}
                <div class="no-post">没有搜索到你想要的结果！</div>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div class="paginator">
                    {% if page.has_previous %}
                        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous
                    {% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next
                    &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}

        {% else %}
            <h3>请输入关键词，如Django。</h3>
        {% endif %}
    </div>

    {% if is_paginated %}
        <!-- Pagination -->
        <ul class="actions pagination">
            {% if first %}
                <li><a href="">1</a></li>
            {% endif %}
            {% if left %}
                {% if left_has_more %}
                    <li><a href="">...</a></li>
                {% endif %}
                {% for i in left %}
                    <li><a href="?page={{i}}">{{i}}</a></li>
                {% endfor %}
            {% endif %}
                <li><a href="?page={{page_obj.number}}" class="active">{{page_obj.number}}</a></li>
            {% if right %}
                {% for i in right %}
                    <li><a href="?page={{i}}">{{i}}</a></li>
                {% endfor %}
                {% if right_has_more %}
                    <li><a href="">···</a></li>
                {% endif %}
            {% endif %}
            {% if last %}
                    <li><a href="?page={{paginator.num_pages}}">{{paginator.num_pages}}</a></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock main %}
