<!DOCTYPE HTML>
<html>
<head>
    {% load static blog_tags %}
    <title>刘祥麟的博客</title>
    <meta charset="utf-8"/>
    <meta name="keyword" content="博客,刘祥麟的博客,前端,web,Django,Python,Java,HTML5,CSS,奇虎360">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
    <!--the highlight plugin stylesheet-->
    <link rel="stylesheet" href="{% static 'css/highlights/github.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <!--[if lte IE 8]>
    <script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}"/><![endif]-->
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="#">刘祥麟的博客</a></h1>
        <nav class="links">
            {% block navigator %}
            {% endblock navigator %}
        </nav>
        <nav class="main">
            <ul>
                <li class="search">
                    <a class="fa-search" href="#search">Search</a>
                    <form id="search" method="get" action="{% url 'haystack_search' %}">
                        <input type="search" name="q" placeholder="Search" required>
                    </form>
                </li>
                <li class="menu">
                    <a class="fa-bars" href="#menu">Menu</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Menu -->
    <section id="menu">

        <!-- Search -->
        <section>
            <form class="search" method="get" action="{% url 'haystack_search' %}">
                <input type="search" name="q" placeholder="Search" required>
            </form>
        </section>

        <!-- Links -->
        <section>
            <ul class="links">
                <li>
                    <a href="{% url 'blog:index' %}">
                        <h3>首页</h3>
                    </a>
                </li>
                <li>
                    <a href="{% url 'blog:archive_list' %}">
                        <h3>归档</h3>
                    </a>
                </li>
                <li>
                    <a href="{% url 'blog:tag_list' %}">
                        <h3>标签</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>分类</h3>
                    </a>
                </li>
                <li>
                    <a href="{% url 'blog:about' %}">
                        <h3>关于</h3>
                    </a>
                </li>
            </ul>
        </section>
    </section>

    <!-- Main -->
    <div id="main">
        {% block main %}
        {% endblock main %}
    </div>

    <!-- Sidebar -->
    <section id="sidebar">
        <!--intro-->
        {% block intro %}
        {% endblock intro %}
        <!-- Mini Posts -->
        {% block newArticle %}
        {% endblock newArticle %}
        <section class="archive">
            <h2>归档</h2>
            {% archives as archive_list %}
            <ul>
                {% for archive in archive_list %}
                <li><a href="{% url 'blog:archives' archive.year archive.month %}">{{archive.year}} 年 {{archive.month}}
                    月</a></li>
                {% empty %}
                <li><a href="">暂无归档</a></li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>文章分类</h2>
            {% get_categories as cate_list %}
            <ul>
                {% for category in cate_list %}
                <li>
                    <a href="{% url 'blog:category' category.pk %}">{{category.name}} （{{category.num_posts}}）</a>
                </li>
                {% empty %}
                <li>暂无分类</li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>标签分类</h2>
            {% get_tags as tag_list %}
            <ul>
                {% for tag in tag_list %}
                <li><a href="{% url 'blog:tag' tag.pk %}">{{tag.name}} （{{tag.num_post}}）</a></li>
                {% endfor %}
            </ul>
        </section>
        <!-- Footer -->
        <section id="footer">
            <ul class="icons">
                <li><a href="https://github.com/Superb-x" class="fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                <li><a href="mailto:lxl9435@gmail.com" class="fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </section>

    </section>

</div>

<section>
    <!--访问统计-->
    <footer class="pv">
        <p>访问统计</p>
        {% get_all_visit_count as total_count %}
        <p class="detail-pv">运行时间 {% get_all_run_day %} 天 | 总访问量:{{total_count.total_visit}} | 今日访问: {% get_today_visit_count %}</p>
        <p class="copyright">Copyright © 2017 刘祥麟 All Rights Reserved! Powered by <a
                href="https://www.djangoproject.com/">Django</a> 备案信息:
            <a href="http://www.miibeian.gov.cn" target="_blank">湘ICP备 17013572号</a>
        </p>
    </footer>
</section>

<!-- Scripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/skel.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<!--[if lte IE 8]>
<script src="[% static 'assets/js/ie/respond.min.js' %]"></script><![endif]-->
<script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>

