<!DOCTYPE HTML>
<html>
<head>
    {% load static blog_tags %}
    <title>刘祥麟的博客</title>
    <meta charset="utf-8"/>
    <meta name="keyword" content="博客,刘祥麟的博客,前端,web,Django,Python,Java,HTML5,CSS,奇虎360">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
    <meta name="360-site-verification" content="803d3a632216a1b85882ef8f61b83240" />
    <!--the highlight plugin stylesheet-->
    <link rel="stylesheet" href="{% static 'assets/css/prism.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <!--[if lte IE 8]>
    <script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
    <!--<link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>-->
</head>
<body>

<div>
    <!-- Header -->
    <div class="header">
        <div class="header-content">
            <div class="left">
                <h1><a href="/">Mr.L's Blog</a></h1>
                <div class="navbar">
                    {% block navigator %}
                    {% endblock navigator %}
                </div>
            </div>
            <div class="right">
                <div class="search">
                    <form id="search" method="get" autocomplete="off" action="{% url 'haystack_search' %}">
                        <input type="search" name="q" placeholder="JavaScript" required>
                        <button type="submit" class="fa-search" href="#search">站内搜索</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-box">
            {% block main %}
            {% endblock main %}
        </div>
        <div class="side-box">
            <!-- 最新 文章 -->
            {% block newArticle %}
            {% endblock newArticle %}
            <div class="archive">
                <h2>归档</h2>
                {% archives as archive_list %}
                <ul>
                    {% for archive in archive_list %}
                    <li><a href="{% url 'blog:archives' archive.year archive.month %}">{{archive.year}} 年 {{archive.month}}
                        月</a></li>
                    {% empty %}
                    <li><a href="">暂无归档</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h2>文章分类</h2>
                {% get_categories as cate_list %}
                <ul>
                    {% for category in cate_list %}
                    <li>
                        <a href="{% url 'blog:category' category.pk %}">{{category.name}} （{{category.num_posts}}）</a>
                    </li>
                    {% empty %}
                    <li>暂无分类</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <h2>标签分类</h2>
                {% get_tags as tag_list %}
                <ul>
                    {% for tag in tag_list %}
                    <li><a href="{% url 'blog:tag' tag.pk %}">{{tag.name}} （{{tag.num_post}}）</a></li>
                    {% endfor %}
                </ul>
            </div>

            <!--friends sites-->
            <div>
                <h2>友情链接</h2>
                {% get_friends as friends_list %}
                <ul>
                    {% for friend in friends_list %}
                    <li><a href="{{friend.site_url}}" target="_blank">{{friend.site_name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <ul class="icons">
                <li><a href="https://github.com/Superb-x" class="fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                <li><a href="mailto:lxl9435@gmail.com" class="fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <p>访问统计</p>
        {% get_all_visit_count as total_count %}
        <p class="detail-pv">运行时间 {% get_all_run_day %} 天 | 总访问量:{{total_count.total_visit}} | 今日访问: {% get_today_visit_count %}</p>
        <p class="copyright">Copyright © 2019 刘祥麟 All Rights Reserved! Powered by <a
                href="https://www.djangoproject.com/">Django</a> 备案信息:
            <a href="http://www.miibeian.gov.cn" target="_blank">湘ICP备 17013572号</a>
        </p>
    </div>
</div>
<!-- Scripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/prism_patched.min.js' %}"></script>

</body>
</html>

