/*自定义谷歌浏览器滚动条样式-test*/
*, :before, :after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, :before, :after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #666;
}
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
::-webkit-scrollbar-button:start:decrement {
    display: block
}

::-webkit-scrollbar-button:end:increment {
    display: block
}

::-webkit-scrollbar-button:vertical:start:increment {
    display: none
}

::-webkit-scrollbar-button:vertical:end:decrement {
    display: none
}

::-webkit-scrollbar-button:horizontal:start:increment {
    display: none
}

::-webkit-scrollbar-button:horizontal:end:decrement {
    display: none
}

::-webkit-scrollbar-track:vertical {
    border-right: 0 solid transparent;
    border-left: 0 solid transparent;
    background-clip: border-box
}

::-webkit-scrollbar-track:horizontal {
    border-bottom: 0 solid transparent;
    border-top: 0 solid transparent;
    background-clip: border-box;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.5);
    background-clip: border-box;
    border: solid transparent;
    border-width: 1.1px 1.1px 1.1px 6px;
    min-height: 28px;
    padding: 0 0 0;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1),inset 0 -1px 0 rgba(0,0,0,0.07);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1),inset 0 -1px 0 rgba(0,0,0,0.07);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255,255,255,0.45);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.25)
}

::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
    background-color: rgba(255,255,255,0.3)
}

::-webkit-scrollbar-thumb:vertical {
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 0 solid transparent;
    border-left: 0 solid transparent
}

::-webkit-scrollbar-thumb:horizontal {
    border-left: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 0 solid transparent;
    border-top: 0 solid transparent
}
.wrapper {
    background: url(../images/back2.jpg) no-repeat center top;
    padding-top: 10px;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    height: 1276px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.nav > li > a {
    text-decoration: none;
    color: #C8C8C8;
    transition: all 0.5s;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color: #000;
}
.brand-logo-wrap {
    padding: 0;
}
.brand-logo-wrap img {
    width: 50px;
}
.nav-left {
    margin-left: 40px;
}
.nav > li > a:hover, .nav > li > a:focus {
    transition: all 0.5s;
    background-color: transparent;
    color: #fff;
}