body {
        background: #f7f7f7;
}
a {
	color: #2f0dab;
	text-decoration: none;
}
ul,ol,dl, h1, h2, h3{
	list-style: none;
	padding:0;
	margin: 0;
}
html, body {
	margin: 0;
	padding: 0;
	height:100%;
}

.header {
	width: 100%;
	height:60px;
	line-height: 60px;
	box-shadow: 1px 1px 8px rgba(0,0,0,.3);
	background: #fff;
	position: fixed;
	top:0;
	left:0;
}
.header .title {
	display: none;
	font-size:16px;
	text-align: center;
}
.header .header-content {
	width: 1200px;
	height:60px;
	margin:0 auto;
	position: relative;
	transition: transform .2s cubic-bezier(.4,.01,.165,.99),-webkit-transform .2s cubic-bezier(.4,.01,.165,.99);
}
.header .bar {
	width:60px;
	height:60px;
	position: absolute;
	left:0;
	top:0;
	display: none;
}
.header .bar::before,.header .bar::after, .header i {
	content: '';
	display: block;
	height:2px;
	width:23px;
	background: #2b2c2d;
	left:18px;
	position: absolute;
	transition: transform .2s cubic-bezier(.4,.01,.165,.99),-webkit-transform .2s cubic-bezier(.4,.01,.165,.99);
}
.header .bar::before {
	top:18px;
}
.header i {
	top:28px;
}
.header .bar::after {
	top:38px;
}
.open .header .bar i {
	opacity: 0;
}
.open .header .bar::before {
	transform: rotate(-45deg);
	top:28px;
}
.open .header .bar::after {
	transform: rotate(45deg);
	top:28px;
}
.header .left {
	overflow: hidden;
	float: left;
}
.header .left h1 {
	float: left;
	font-size: 16px;
}
.header .left h1 a {
	color: #ff8d00;
	text-decoration: none;
}
.header .navbar {
	float: left;
	margin-left:20px;
}
.header .navbar li {
	display: inline-block;
	width:100px;
	text-align: center;
}
.header .navbar li a{
	color: #333;
	text-decoration: none;
}
.header .navbar li .active {
	font-weight: bolder;
	color: #000;
}
.header .right {
	float: right;
}
#search {
	float: left;
}
.content {
	width:1180px;
	padding: 20px;
	margin: 80px auto 0;
	background: #fff;
	box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.content:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}
.content .content-box {
	width: 800px;
	float: left;
}
.content .side-box {
	width: 300px;
	float: right;
}
.content-box .post {
	margin-bottom:20px;
	font-size:14px;
	color: #444;
	line-height: 1.5;
}
.content-box .post h2{
	color: #333;
	font-size: 18px;

}
.content-box .post h2 a {
	color: #333;
	text-decoration: none;
}
.content-box .post .post-desc {
	font-size: 14px;
	line-height: 22px;
	color: #666;
	margin-bottom: 10px;
}
.content-box .post .publish-time {
	text-align: left;
	font-size: 12px;
	color: #666;
}
.content-box .post img {
	max-width: 100%;
}
.content-box ul, ol, dl {
	padding-left:25px;
}
.content-box ul{
	list-style: disc;
	padding-left: 20px;
}
.content-box ol {
	list-style: decimal;
}
.content-box .post table img {
	max-width: none;
}
.side-box h2 {
	font-size: 16px;
}
.side-box ul {
	list-style: none;
}
.side-box ul li {
	line-height: 22px;
}
.side-box ul li a {
	font-size: 14px;
}
.side-box>div {
	margin-bottom: 20px;
}
.footer {
	font-size:14px;
	color: #666;
	width:1200px;
	margin:0 auto;
	text-align: center;
}
.pagination li{
	display: inline-block;
	padding: 0 3px;
}
.pagination .active {
	color: #0b83a7;
}
.highlighted {
	color: #f52929;
}
.open {
	position: fixed;
	transform: translate3D(200px, 0, 0);
	transition: transform .2s cubic-bezier(.4,.01,.165,.99),-webkit-transform .2s cubic-bezier(.4,.01,.165,.99);
}
@media screen and (max-width:768px) {
	.header .bar {
		display: block;
	}
	.header .title {
		display: block;
	}
	.header .header-content {
		width:200px;
		height:100%;
		position: fixed;
		transform: translate3D(-200px, 0, 0);
	}
	.header .left h1 {
		width:100%;
		text-align: center;
	}
	.header .navbar {
		margin-left:0;
		text-align: center;
	}
	.header .right {
		padding: 0 10px;
	}
	.content {
		width:100%;
	}
	.content .content-box {
		width:100%;
	}
	.footer {
		width:100%;
		padding-bottom:15px;
	}
}