body {
        background: #f7f7f7;
}
a {
	color: #666;
	text-decoration: none;
}
ul,ol,dl, h1, h2, h3{
	list-style: none;
	padding:0;
	margin: 0;
}
html, body {
	margin: 0;
	padding: 0;
}
.header {
	width: 100%;
	height:60px;
	line-height: 60px;
	box-shadow: 1px 1px 8px rgba(0,0,0,.3);
	background: #fff;
}
.header .header-content {
	width: 1200px;
	height:60px;
	margin:0 auto;
}
.header .left {
	overflow: hidden;
	float: left;
}
.header .left h1 {
	float: left;
	font-size: 16px;
}
.header .left h1 a {
	color: #ff8d00;
	text-decoration: none;
}
.header .navbar {
	float: left;
	margin-left:20px;
}
.header .navbar li {
	display: inline-block;
	width:100px;
	text-align: center;
}
.header .navbar li a{
	color: #333;
	text-decoration: none;
}
.header .navbar li .active {
	font-weight: bolder;
	color: #000;
}
.header .right {
	float: right;
}
#search {
	float: left;
}
.content {
	width:1200px;
	padding: 20px;
	margin: 20px auto;
	background: #fff;
	box-shadow: 0px 0px 3px rgba(0,0,0,.3);
}
.content:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}
.content .content-box {
	width: 800px;
	float: left;
}
.content .side-box {
	width: 300px;
	float: right;
}
.content-box .post {
	margin-bottom:20px;
	font-size:14px;
}
.content-box .post h2{
	color: #333;
	font-size: 18px;

}
.content-box .post h2 a {
	color: #333;
	text-decoration: none;
}
.content-box .post .post-desc {
	font-size: 14px;
	line-height: 22px;
	color: #666;
	margin-bottom: 10px;
}
.content-box .post .publish-time {
	text-align: left;
	font-size: 12px;
	color: #666;
}
.content-box .post img {
	max-width: 100%;
}
.side-box h2 {
	font-size: 16px;
}
.side-box ul {
	list-style: none;
}
.side-box ul li {
	line-height: 22px;
}
.side-box ul li a {
	font-size: 14px;
}
.side-box>div {
	margin-bottom: 20px;
}
.footer {
	font-size:14px;
	color: #666;
	width:1200px;
	margin:0 auto;
	text-align: center;
}