/*自定义谷歌浏览器滚动条样式*/
  ::-webkit-scrollbar-track-piece{
	  background-color:#fff;
	  -webkit-border-radius:0;
  }
::-webkit-scrollbar{
	width:10px;
	height:10px;
}
::-webkit-scrollbar-thumb{
	height:50px;
	background-color:#ccc;
	-webkit-border-radius:4px;
	outline:2px solid #fff;
	outline-offset:-2px;
	border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover{
	height:50px;
	background-color:#9f9f9f;
	-webkit-border-radius:4px;
}
.wrapper {
    background: url(../images/back2.jpg) no-repeat center top;
    padding-top: 10px;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    height: 1276px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.nav > li > a {
    text-decoration: none;
    color: #C8C8C8;
    transition: all 0.5s;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color: #000;
}
.brand-logo-wrap {
    padding: 0;
}
.brand-logo-wrap img {
    width: 50px;
}
.nav-left {
    margin-left: 40px;
}
.nav > li > a:hover, .nav > li > a:focus {
    transition: all 0.5s;
    background-color: transparent;
    color: #fff;
}