@charset "UTF-8";
@import url("reset.css");
@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont/iconfont.eot");
  src: url("../fonts/iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont/iconfont.woff") format("woff"), url("../fonts/iconfont/iconfont.ttf") format("truetype"), url("../fonts/iconfont/iconfont.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #fff;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #ccc;
}

::-webkit-scrollbar-thumb:active {
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
  background-color: #f3f3f3;
}

.highlighted {
  color: red;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: Microsoft YaHei,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

header {
  width: 350px;
  height: 100%;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background: url("../img/timg.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
header .avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 50px auto 0;
  border: 5px solid #fff;
  transition: all 0.3s ease-in;
}
header .avatar img {
  width: 100%;
  height: 100%;
}
header .name {
  padding: 15px 0;
  font-weight: bolder;
  text-align: center;
  font-size: 24px;
}
header .item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
  cursor: pointer;
  user-select: none;
    /*&:after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background: transparent;
      position: absolute;
      right: 30%;
      top: 50%;
      margin-top: -10px;
      border-bottom: bb(2px);
      border-right: bb(2px);
      transform: rotate(45deg);

    }*/
}
header .item a {
  color: #fff;
  text-decoration: none;
}
header .item.item-spread {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
header .item.item-spread li {
  font-weight: normal;
}
header .item.active {
  height: 200px;
}
header .item span {
  transition: all .2s ease-in-out;
}
header .item:hover span {
  color: #0060e5;
}
header .item:hover span a {
  color: #0060e5;
}
header .item-tag li {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  padding: 5px 10px;
}
header .links {
  position: absolute;
  bottom: 1rem;
  font-size: 32px;
  width: 350px;
  padding: 0 50px;
  box-sizing: border-box;
}
header .links ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header .links li {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 32px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}
header .links li i {
  font-size: 40px;
}
header .links li a {
  color: #fff;
  text-decoration: none;
}
header .spread {
  width: 300px;
  margin: 0 auto;
}
header .spread li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

/*导航栏*/
.top-navbar {
  width: 80%;
  height: 60px;
  line-height: 60px;
  margin-left: 350px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding-left: 30px;
  box-sizing: border-box;
  position: fixed;
  transition: all 0.3s ease-in-out;
  top: 0;
}
.top-navbar .type a {
  color: #0060e5;
  text-decoration: none;
}
.top-navbar .menu-btn {
  display: none;
}
.top-navbar .search-wrap {
  width: 300px;
  height: 60px;
  position: absolute;
  z-index: 99;
  right: 5%;
  top: 0;
}
.top-navbar .search-wrap input {
  height: 30px;
  outline: none;
  padding-left: 5px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.top-navbar .search-wrap button {
  width: 40px;
  height: 30px;
  background: #0060e5;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.main {
  margin-left: 350px;
  transition: all 0.3s ease-in-out;
}

.article {
  margin-top: 60px;
  padding: 50px 50px 80px 50px;
}
.article article {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.article article:last-child {
  border-bottom: none;
}
.article .continue {
  display: inline-block;
  color: #0060e5;
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 20px;
}
.article .article-info {
  margin-bottom: 20px;
  color: #666;
}
.article .title {
  font-size: 30px;
  margin-bottom: 20px;
}
.article .title a {
  color: #0060e5;
  text-decoration: none;
  transition: all 0.2s;
}
.article .title a:hover {
  text-decoration: underline;
  color: #337ab7;
}
.article .content {
  margin-bottom: 20px;
}
.article .paginator {
  text-align: center;
}
.article .paginator a {
  color: #000;
  text-decoration: none;
}
.article .paginator a.active {
  color: #0060e5;
  text-decoration: underline;
}
.article .friends-sites {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 10px;
}
.article .friends-sites p {
  text-align: center;
}
.article .friends-sites ul {
  text-align: center;
  margin-top: 5px;
}
.article .friends-sites li {
  display: inline-block;
  position: relative;
}
.article .friends-sites li a {
  color: #0060e5;
  text-decoration: none;
  display: block;
  border-right: 1px solid #ccc;
  padding: 0 10px;
}
.article .friends-sites li:last-child a {
  border: none;
}

#mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  background: #000;
  opacity: 0;
  display: none;
  transition: all, 0.3s ease-in-out;
}

/*底部*/
footer {
  width: 75%;
  height: 60px;
  position: fixed;
  left: 350px;
  bottom: 0;
  border-top: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
  box-sizing: border-box;
  background: #fff;
}
footer a {
  color: #000;
}

/*媒体查询适配*/
/*iphone: w < 768px*/
@media screen and (max-width: 768px) {
  #profile {
    width: 250px;
    transform: translate3D(-100%, 0, 0);
  }
  #profile .links {
    width: 250px;
    padding: 0 20px;
  }

  .top-navbar {
    width: 100%;
    background: #0060e5;
    color: #fff;
    margin-left: 0;
  }
  .top-navbar .menu {
    display: none;
  }
  .top-navbar .menu-btn {
    float: left;
    padding-right: 20px;
    display: block;
  }
  .top-navbar .search-wrap {
    width: 250px;
    width: 250px;
    width: 250px;
    right: 0;
  }

  .main {
    margin-left: 0;
  }
  .main .article {
    padding: 20px;
  }

  footer {
    left: 0;
    width: 100%;
    height: 75px;
    position: relative;
  }

  .opened #profile {
    transform: translate3D(0, 0, 0);
  }
  .opened .main {
    transform: translate3D(250px, 0, 0);
  }
  .opened .top-navbar {
    transform: translate3D(250px, 0, 0);
  }
  .opened #mask {
    display: block;
    opacity: 0.3;
  }
  .opened .avatar {
    width: 100px;
    height: 100px;
  }
}
/*pad: w >= 768  && w< 992*/
@media screen and (max-width: 992px) and (min-width: 768px) {
  .container {
    width: 750px;
    background-color: blue;
  }
}
/*中等屏幕   w >= 992  && w<1200*/
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .container {
    width: 970px;
    background-color: pink;
  }
}

/*# sourceMappingURL=index.css.map */
