@charset "UTF-8";
@import url("reset.css");
@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont/iconfont.eot");
  /* IE9*/
  src: url("../fonts/iconfont/iconfont.eot#iefix") format("embedded-opentype"), url("../fonts/iconfont/iconfont.woff") format("woff"), url("../fonts/iconfont/iconfont.ttf") format("truetype"), url("../fonts/iconfont/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #fff;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #ccc;
}

::-webkit-scrollbar-thumb:active {
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
  background-color: #f3f3f3;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: Microsoft YaHei,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

header {
  width: 350px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url("../img/timg.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
}
header .avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 50px auto 0;
  border: 5px solid #fff;
}
header .avatar img {
  width: 100%;
  height: 100%;
}
header .name {
  padding: 15px 0;
  font-weight: bolder;
  text-align: center;
  font-size: 24px;
}
header .item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
  cursor: pointer;
    /*&:after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background: transparent;
      position: absolute;
      right: 30%;
      top: 50%;
      margin-top: -10px;
      border-bottom: bb(2px);
      border-right: bb(2px);
      transform: rotate(45deg);

    }*/
}
header .item a {
  color: #fff;
  text-decoration: none;
}
header .item.item-spread {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
header .item.active {
  height: 200px;
}
header .item span {
  transition: all .2s ease-in-out;
}
header .item:hover span {
  color: #0275e5;
}
header .item:hover span a {
  color: #0275e5;
}
header .links {
  position: absolute;
  bottom: 1rem;
  font-size: 32px;
  width: 350px;
  padding: 0 50px;
  box-sizing: border-box;
}
header .links ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header .links li {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 32px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}
header .links li i {
  font-size: 40px;
}
header .links li a {
  color: #fff;
  text-decoration: none;
}
header .spread {
  width: 300px;
  margin: 0 auto;
}
header .spread li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

/*导航栏*/
.top-navbar {
  width: 80%;
  height: 60px;
  line-height: 60px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  margin-left: 350px;
  padding-left: 30px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
}
.top-navbar .type {
  color: #0275e5;
}
.top-navbar .search-wrap {
  width: 300px;
  height: 60px;
  position: absolute;
  z-index: 99;
  right: 5%;
  top: 0;
}
.top-navbar .search-wrap input {
  height: 30px;
  outline: none;
  padding-left: 5px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.top-navbar .search-wrap button {
  width: 40px;
  height: 30px;
  background: #0275e5;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.article {
  margin-left: 350px;
  margin-top: 60px;
  padding: 50px 50px 80px 50px;
}
.article article {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.article article:last-child {
  border-bottom: none;
}
.article .continue {
  display: inline-block;
  color: #0275e5;
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 20px;
}
.article .article-info {
  margin-bottom: 20px;
  color: #666;
}
.article .title {
  font-size: 30px;
  margin-bottom: 20px;
}
.article .title a {
  color: #0275e5;
  text-decoration: none;
}
.article .title:hover a {
  text-decoration: underline;
}
.article .content {
  margin-bottom: 20px;
}
.article .paginator {
  text-align: center;
}
.article .paginator a {
  color: #000;
  text-decoration: none;
}
.article .paginator a.active {
  color: #0275e5;
  text-decoration: underline;
}

/*底部*/
footer {
  width: 75%;
  height: 60px;
  position: fixed;
  left: 350px;
  bottom: 0;
  border-top: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
  box-sizing: border-box;
  background: #fff;
}
footer a {
  color: #000;
}

/*# sourceMappingURL=index.css.map */
