{% extends 'base.html' %}

{% block navigator %}
    <ul>
        <li><a href="{% url 'blog:index' %}">首页</a></li>
        <li><a href="{% url 'blog:archive_list' %}">归档</a></li>
        <li><a href="{% url 'blog:tag_list' %}">标签</a></li>
        <li><a href="#">分类</a></li>
		<li><a href="{% url 'blog:friends' %}">友链</a></li>
        <li><a href="{% url 'blog:about' %}" class="active">关于</a></li>
    </ul>
{% endblock navigator %}

{% block main %}
	{% for post in post_list %}
		<article class="post post-{{post.pk}}">
			<section>
				<h2>{{post.title}}</h2>
				<div class="box alt">
					<div class="row uniform">
						<div class="12u$"><span class="image fit"><img src="{{post.avatar.url}}" alt="" /></span></div>
					</div>
				</div>
				<!--<h4>Left &amp; Right</h4>-->
				<p>{{post.body | safe}}</p>
			</section>
		</article>
	{% endfor %}
{% endblock main %}