{% extends 'base.html' %}

{% block navigator %}
    <ul>
        <li><a href="{% url 'blog:index' %}">首页</a></li>
        <li><a href="{% url 'blog:archive_list' %}" class="active">归档</a></li>
        <li><a href="{% url 'blog:tag_list' %}">标签</a></li>
        <li><a href="#">分类</a></li>
        <li><a href="{% url 'blog:friends' %}">友链</a></li>
        <li><a href="{% url 'blog:about' %}">关于</a></li>
    </ul>
{% endblock navigator %}

{% block main %}
<style>
    .archive-list li{
        display: inline-block;
        margin-right: 20px;
    }
    .archive-list li a {
        color: #5b5bf1;
        text-decoration: underline;
    }
    .archive-list li h2 {
        margin-bottom:5px;
    }
    .archive-list ul {
        margin-bottom:10px;
    }
</style>
    <div class="archive-list">
        {% for key,archive in archive_list.items %}
            <h2>{{key}}</h2>
            <ul>
                {% for item in archive %}
                    <li><a href="{% url 'blog:archives' item.year item.month %}" target="_self">{{item}}</a></li>
                {% endfor %}
            </ul>
        {% empty %}
        <li>暂无归档</li>
        {% endfor %}
    </div>
{% endblock main %}