{% extends 'base.html' %}

{% block navigator %}
    <ul>
        <li><a href="{% url 'blog:index' %}">首页</a></li>
        <li><a href="{% url 'blog:archive_list' %}" class="active">归档</a></li>
        <li><a href="{% url 'blog:tag_list' %}">标签</a></li>
        <li><a href="#">分类</a></li>
        <li><a href="{% url 'blog:friends' %}">友链</a></li>
        <li><a href="{% url 'blog:about' %}">关于</a></li>
    </ul>
{% endblock navigator %}

{% block main %}
<style>
    .archive-list li{
        display: inline-block;
        margin-right: 20px;
    }
    .archive-list li a {
        color: #0000aa;
        text-decoration: underline;
    }
</style>
    <ul class="archive-list">
        {% for archive in archive_list %}
        <li><a href="{% url 'blog:archives' archive.year archive.month %}" target="_self">{{archive}}</a></li>
        {% empty %}
        <li>暂无归档</li>
        {% endfor %}
    </ul>
{% endblock main %}