{% extends 'base.html' %}

{% load blog_tags %}

{% block navigator %}
<ul>
    <li><a href="{% url 'blog:index' %}">首页</a></li>
    <li><a href="{% url 'blog:archive_list' %}">归档</a></li>
    <li><a href="{% url 'blog:tag_list' %}">标签</a></li>
    <li><a href="#">分类</a></li>
    <li><a href="{% url 'blog:friends' %}">友链</a></li>
    <li><a href="{% url 'blog:about' %}">关于</a></li>
</ul>
{% endblock navigator %}

{% block main %}
<article class="post post-{{post.pk}}">
    <section>
        <h2 class="post-title">{{post.title}}</h2>
        <p class="post-info">字数：{{post.word_count}} · 阅读：{{post.views}} · 发布时间：{{post.create_time}}</p>
        <!--<div class="box alt">
            <div class="row uniform">
                <div class="12u$"><span class="image fit"><img src="" alt="" /></span></div>
            </div>
        </div>-->
        <!--<h4>Left &amp; Right</h4>-->
        <p>{{post.body | safe}}</p>
    </section>
</article>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = "https://www.superbx.cn/post/{{post.pk}}/";  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "{{post.pk}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://lxl-blog.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock main %}

{% block newArticle %}
<!-- Mini Posts -->
<div class="new-post">
    <h2>最新文章</h2>
    {% get_recent_posts as recent_post_list %}
    <ul class="posts">
        {% for post in recent_post_list %}
        <li>
            <h3><a href="#">{{post.title}}</a></h3>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock newArticle %}
