{% extends 'base.html' %}

{% load blog_tags %}

{% block navigator %}
<ul>
    <li><a href="{% url 'blog:index' %}">首页</a></li>
    <li><a href="{% url 'blog:archive_list' %}">归档</a></li>
    <li><a href="{% url 'blog:tag_list' %}">标签</a></li>
    <li><a href="#">分类</a></li>
    <li><a href="{% url 'blog:about' %}">关于</a></li>
</ul>
{% endblock navigator %}

{% block main %}
<article class="post post-{{post.pk}}">
    <section>
        <h2 class="post-title">{{post.title}}</h2>
        <p class="post-info">字数：{{post.word_count}} · 阅读：{{post.views}} · 发布时间：{{post.create_time}}</p>
        <!--<div class="box alt">
            <div class="row uniform">
                <div class="12u$"><span class="image fit"><img src="" alt="" /></span></div>
            </div>
        </div>-->
        <!--<h4>Left &amp; Right</h4>-->
        <p>{{post.body | safe}}</p>
    </section>
</article>
<section class="share-wrap">
    <div class="bdsharebuttonbox">
        <a href="#" class="bds_more" data-cmd="more"></a>
        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
    </div>
    <div id="SOHUCS" sid="{{post.pk}}"></div>
</section>
<!--Baidu Share-->
<script>
    window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "",
            "bdMini": "2",
            "bdMiniList": false,
            "bdPic": "",
            "bdStyle": "1",
            "bdSize": "16"
        },
        "share": {},
        "image": {"viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16"},
        "selectShare": {"bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]}
    };
    with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http    ://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>
<!--PC和WAP自适应版-->
<script type="text/javascript">
    (function () {
        var appid = 'cyt7fmeOc';
        var conf = 'prod_2bea4c4371e7addce37010c9687688a6';
        var width = window.innerWidth || document.documentElement.clientWidth;
        if (width < 960) {
            window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
        } else {
            var loadJs = function (d, a) {
                var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement;
                var b = document.createElement("script");
                b.setAttribute("type", "text/javascript");
                b.setAttribute("charset", "UTF-8");
                b.setAttribute("src", d);
                if (typeof a === "function") {
                    if (window.attachEvent) {
                        b.onreadystatechange = function () {
                            var e = b.readyState;
                            if (e === "loaded" || e === "complete") {
                                b.onreadystatechange = null;
                                a()
                            }
                        }
                    } else {
                        b.onload = a
                    }
                }
                c.appendChild(b)
            };
            loadJs("https://changyan.sohu.com/upload/changyan.js", function () {
                window.changyan.api.config({appid: appid, conf: conf})
            });
        }
    })();
</script>
{% endblock main %}

{% block newArticle %}
<!-- Mini Posts -->
<section>
    <h2>最新文章</h2>
    {% get_recent_posts as recent_post_list %}
    <ul class="posts">
        {% for post in recent_post_list %}
        <li>
            <article>
                <header>
                    <h3><a href="#">{{post.title}}</a></h3>
                    <time class="published" datetime="2015-10-20">{{post.create_time}}</time>
                </header>
                <!--如果文章有图片就显示，没有就不渲染当前节点-->
                {% if post.thumb %}
                    <a href="#" class="image"><img src="{{post.thumb.url}}" alt=""/></a>
                {% endif %}
            </article>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock newArticle %}
