{% extends 'base.html' %}

{% block navigator %}
    <ul>
        <li><a href="{% url 'blog:index' %}">首页</a></li>
        <li><a href="{% url 'blog:archive_list' %}">归档</a></li>
        <li><a href="{% url 'blog:tag_list' %}">标签</a></li>
        <li><a href="#">分类</a></li>
        <li><a href="{% url 'blog:friends' %}" class="active">友链</a></li>
        <li><a href="{% url 'blog:about' %}">关于</a></li>
    </ul>
{% endblock navigator %}

{% block main %}
<style>
    .friend-link {
        list-style: none;
    }
    .friend-link li{
        display: inline-block;
        margin-right:20px;
    }
    .friend-link li a {
        color: #0000aa;
        text-decoration: underline;
    }
</style>
<ul class="friend-link">
    {% for friend in friends_list %}
    <li>
        <a href="{{friend.site_url}}" title="{{friend.site_intro}}">{{friend.site_name}}</a>
    </li>
    {% endfor %}
</ul>
{% endblock main %}