{% extends 'base.html' %}

{% load blog_tags %}

{% block navigator %}
    <ul>
        <li><a href="{% url 'blog:index' %}" class="active">首页</a></li>
        <li><a href="{% url 'blog:archive_list' %}">归档</a></li>
        <li><a href="{% url 'blog:tag_list' %}">标签</a></li>
        <li><a href="#">分类</a></li>
        <li><a href="{% url 'blog:friends' %}">友链</a></li>
        <li><a href="{% url 'blog:about' %}">关于</a></li>
    </ul>
{% endblock navigator %}

{% block main %}
<!-- Post -->
    {% if error_msg %}
    <p>{{error_msg}}</p>
    {% endif %}
    {% for post in post_list %}
        <div class="post">
            <h2 title="{{post.title}}"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
            <p class="post-desc">{{post.excerpt | safe}}</p>
            <div class="publish-time">{{post.create_time}} &nbsp; {{post.views}}次阅读数</div>
            {% if post.thumb %}
                <a href="{{post.get_absolute_url}}" class="image featured"><img src="{{post.thumb.url}}" alt=""/></a>
            {% endif %}
        </div>
    {% endfor %}


    {% if is_paginated %}
        <!-- Pagination -->
        <ul class="actions pagination">
            {% if first %}
                <li><a href="/">1</a></li>
            {% endif %}
            {% if left %}
                {% if left_has_more %}
                    <li><a href="page={{i|add:'-3'}}">...</a></li>
                {% endif %}
                {% for i in left %}
                    <li><a href="?page={{i}}">{{i}}</a></li>
                {% endfor %}
            {% endif %}
                <li><a href="?page={{page_obj.number}}" class="active">{{page_obj.number}}</a></li>
            {% if right %}
                {% for i in right %}
                    <li><a href="?page={{i}}">{{i}}</a></li>
                {% endfor %}
                {% if right_has_more %}
                    <li><a href="page={{i|add:3}}">···</a></li>
                {% endif %}
            {% endif %}
            {% if last %}
                    <li><a href="?page={{paginator.num_pages}}">{{paginator.num_pages}}</a></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock main %}

{% block intro %}
    {% get_user_profile as user_profile %}
    {% for user in user_profile %}
    <section id="intro">
        <a href="#" class="logo"><img src="{{user.avatar.url}}" alt=""/></a>
        <header>
            <h2>Superb-x</h2>
            <p>{{user.description}}</p>
        </header>
    </section>
    {% endfor %}
{% endblock intro %}