<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static blog_tags %}
    <meta name="keywords" content="博客 blog 个人网站 templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive, 湖南, 浏阳"/>
    <meta name="author" content="刘祥麟"/>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>刘祥麟的博客</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="profile">
                <div class="avatar">
                    <img src="{% static 'img/person_3.jpg' %}" alt="">
                </div>
                <div class="name">Nearw的博客</div>
                <div class="item">
                    <i class="iconfont">&#xe6c8;</i>
                    <span>文章</span>
                    <ol class="spread">
                        <li>最新文章</li>
                        <li>测试最新文章n</li>
                        <li>最新文章sasass</li>
                    </ol>
                </div>
                <div class="item">
                    <i class="iconfont">&#xe60e;</i>
                    标签
                </div>
                <div class="item">
                    <i class="iconfont">&#xe651;</i>
                    分类
                </div>
                <div class="item">
                    <i class="iconfont">&#xe641;</i>
                    归档
                </div>
                <div class="item">
                    <i class="iconfont">&#xe72c;</i>
                    关于
                </div>
                <nav class="links">
                    <ul>
                        <li>
                            <a href="">
                                <i class="iconfont">&#xe719;</i>
                            </a>
                        </li>
                        <li><a href="">
                            <i class="iconfont">&#xe675;</i>
                        </a></li>
                        <li><a href="">
                            <i class="iconfont">&#xe7ea;</i>
                        </a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="content">
            <nav></nav>
            <article>

            </article>
        </div>
        <footer></footer>
    </div>
</body>
</html>